<html>
    <link rel="stylesheet" href="/static/css/article.css">
    <div class="articles" id="articles">

    </div>
    <script type="text/javascript">
        run_all()
    </script>
    <div class="article" style="display: none" id="article_template">
        <div class="article_solved" style="display: none">
            <span>РОЗПРОДАНО</span>
        </div>
        <div class="article_img">
            <span class="price">
                <span style="display: none" class="discount"></span>
            </span>
        </div>
        <div class="description">
            <span class="title"></span>
            <span class="desc"></span>
        </div>
    </div>
</html>