<html>
    <head>
        <title>Акції</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/articles_generator.js"></script>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    </head>
    <body>
        {% include 'header.html' %}
        <main >
            {% include 'page_name.html' %}
            {%  include 'article.html' %}
        </main>
        {% include 'footer.html' %}
    </body>
</html>