<html>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <img class="o_no" src="https://http.cat/images/400.jpg"/>
    <nav>
        <div class="catalog_tovariv">
            <div class="main_element">
                <div class="menu">
                    <img src="/static/img/icons/menu.svg"/>
                </div>
                <span>КАТАЛОГ ТОВАРІВ</span>
            </div>
            <div class="sub_elements">
                <ul>
                    <li onclick="window.location='/gold/'">ЗОЛОТО</li>
                    <li onclick="window.location='/silver/'">СРІБЛО</li>
                    <li onclick="window.location='/platuna/'">ПЛАТИНА</li>
                    <li onclick="window.location='/perls/'">З ПЕРЛИНАМИ</li>
                </ul>
            </div>
        </div>
        <div class="logo" onclick="window.location='/'"><img src="/static/img/logo.svg"/></div>
        <ul>
            <li class="menu_item" onclick="window.location='/discounts/'">АКЦІЇ</li>
            <li class="menu_item" onclick="window.location='/contacts/'">КОНТАКТИ</li>
            <li class="menu_item" onclick="window.location='/about/'">ПРО НАС</li>
        </ul>
    </nav>
</html>